.team__title, .clients__title {
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team__title, .clients__title {
    margin-bottom: 50px;
  }
}

.service, .team, .clients, .footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: #2196f3;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--grey {
  background: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social__icon--white {
  fill: #f5f4fa;
}

.social__link:hover .social__icon--white-hover,
.social__link:focus .social__icon--white-hover {
  fill: #f5f4fa;
}

.site-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: none;
  color: #212121;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  cursor: pointer;
}

@media (min-width: 768px) {
  .site-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__link--accent {
  position: relative;
  color: #2196f3;
}

.site-nav__link--accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background-color: #2196f3;
  border-radius: 2px;
}

.dropbox {
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.modal {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #AFB1B8;
  background-color: #ffffff;
  outline: transparent;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 186px;
}

.modal__close-btn:focus .modal__icon,
.modal__close-btn:hover .modal__icon {
  fill: #2196f3;
}

@media screen and (max-height: 609px) {
  .modal {
    position: relative;
    top: 15px;
  }
}

@media screen and (min-height: 610px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

@media screen and (max-height: 609px) {
  .is-hidden .modal {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .form {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  width: 370px;
}

@media (min-width: 1200px) {
  .form__field {
    width: 448px;
  }
}

.form__field--comment {
  margin-bottom: 20px;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  outline: none;
}

.form__input:focus {
  border: 1px solid #2196f3;
}

.form__input--textarea {
  padding-left: 12px;
  resize: none;
  height: 120px;
  overflow: auto;
  font-size: 14px;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form__input:focus + .form__icon {
  fill: #2196f3;
  -webkit-filter: none;
          filter: none;
}

.form__button {
  padding: 10px 55px;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: auto;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
}

.form .butn-shedow {
  -webkit-filter: drop-shadow(0px 4px 4px #E5E5E5);
          filter: drop-shadow(0px 4px 4px #E5E5E5);
}

.form__input--textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #AFB1B8;
}

.form__input--textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #AFB1B8;
}

.form__input--textarea::-ms-input-placeholder {
  font-size: 14px;
  color: #AFB1B8;
}

.form__input--textarea::placeholder {
  font-size: 14px;
  color: #AFB1B8;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy__icon-check {
  position: static;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
  background-color: #ffffff;
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.2;
}

@media (min-width: 1200px) {
  .policy__icon-check {
    margin-left: 12px;
  }
}

.policy__checkbox:checked + .policy__icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
}

.policy--margin {
  margin-bottom: 30px;
}

.color-contract {
  color: #2196f3;
  margin-left: 4px;
}

.burger-menu {
  z-index: 2;
}

.burger-menu__container {
  position: absolute;
  display: none;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.burger-menu__container.is-open {
  display: block;
}

.burger-menu__list {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
  color: #212121;
}

.burger-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.burger-menu__contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.burger-menu__link:hover, .burger-menu__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.burger-menu__button {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
}

.burger-menu__icon {
  width: 40px;
  height: 40px;
  fill: #000;
}

.burger-menu__icon:hover {
  fill: #2196f3;
}

@media (min-width: 480px) {
  .burger-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__item--contacts:not(:last-child) {
  margin-bottom: 12px;
}

.burger-menu__link {
  display: inline-block;
}

.burger-menu__link--accent::after {
  content: "";
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  border-radius: 2px;
}

.burger-menu__icon--phone {
  width: 10px;
  height: 15px;
  margin-right: 5px;
  fill: #757575;
}

.burger-menu__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  fill: #757575;
}

.burger-menu__button.is-open .burger-menu--icon-cross {
  display: none;
}

.burger-menu__button.is-open .burger-menu--icon-menu {
  display: block;
}

.burger-menu__button .burger-menu--icon-cross {
  display: block;
}

.burger-menu__button .burger-menu--icon-menu {
  display: none;
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.site-header__logo {
  margin-right: 276px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .site-header__logo {
    margin-right: 88px;
  }
}

.site-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1199px) {
  .site-header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-header__item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1199px) {
  .site-header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .site-header__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.site-header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

@media (max-width: 1199px) {
  .site-header__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .site-header__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.site-header__icon {
  margin-right: 10px;
  fill: #757575;
}

@media (max-width: 1199px) {
  .site-header__icon {
    margin-right: 8px;
  }
}

.site-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__link:hover, .site-header__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.site-header__link:hover .site-header__icon,
.site-header__link:focus .site-header__icon {
  fill: #2196f3;
}

.site-header__icon--phone {
  width: 10px;
  height: 16px;
}

@media (max-width: 1199px) {
  .site-header__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.site-header__icon--mail {
  width: 16px;
  height: 12px;
}

@media (max-width: 1199px) {
  .site-header__icon--mail {
    width: 14px;
    height: 10px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 480px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: #f5f4fa;
  background-position: center;
  background-size: cover;
  background-image: url(../images//mobile/main-jpeg-480x400.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
  background-image: url(../images//mobile/main-jpeg-480x400.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images//mobile/main-jpeg-480x400@2.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
    background-image: url(../images//mobile/main-jpeg-480x400@2.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
  }
}

@media (min-width: 768px) {
  .hero {
    min-width: 768px;
    background-image: url(../images/tablet/main-jpeg-768x400.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
    background-image: url(../images/tablet/main-jpeg-768x400.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/tablet/main-jpeg-768x400@2.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
    background-image: url(../images/tablet/main-jpeg-768x400@2.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
  }
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: url(../images/desktop/main-jpeg-1600x600.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
    background-image: url(../images/desktop/main-jpeg-1600x600.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/desktop/main-jpeg-1600x600@2.jpg), -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3)));
    background-image: url(../images/desktop/main-jpeg-1600x600@2.jpg), linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3));
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

@media (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  display: inline-block;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__btn {
  padding: 10px 32px;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
}

.advantages {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.advantages__item {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 30px * 4) / 4);
  }
}

.advantages__icon {
  width: 100%;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}

@media (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.service__item {
  width: calc((100% - 30px * 3) / 3);
  position: relative;
  margin: 15px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 50px;
}

.service__text {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  min-width: 480px;
  background-color: #f5f4fa;
  font-size: 16px;
}

.team__list {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px * 2) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .team__item {
    width: calc((100% - 30px * 4) / 4);
  }
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

.team__social {
  margin-top: 16px;
  margin-bottom: 24px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
}

.clients__link {
  -webkit-transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

@media (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  fill: #AFB1B8;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__item:nth-child(1) .clients__icon {
  width: 44px;
  height: 49px;
}

.clients__item:nth-child(2) .clients__icon {
  width: 40px;
  height: 52px;
}

.clients__item:nth-child(3) .clients__icon {
  width: 41px;
  height: 42px;
}

.clients__item:nth-child(4) .clients__icon {
  width: 79px;
  height: 42px;
}

.clients__item:nth-child(5) .clients__icon {
  width: 59px;
  height: 47px;
}

.clients__item:nth-child(6) .clients__icon {
  width: 88px;
  height: 45px;
}

.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 0;
    margin-right: 93px;
    margin-top: 10px;
  }
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.footer__link--white {
  color: #ffffff;
}

.footer__link:not(:last-child) {
  margin-bottom: 8px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
}

@media (max-width: 479px) {
  .footer__input {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 10px 29px;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.footer__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*# sourceMappingURL=main.css.map */