@charset "UTF-8";
/* Голубой #2196f3 (33, 150, 243) 90% */
/* 00 - полностью прозрачный */
:root {
  /*як селектор html для index.html
  Робимо об'яву своїх перемінних:*/
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bckgr-color: #2f303a;
  --secondary-grey-color: rgba(255, 255, 255, 0.6);
  --social-grey-color:  rgba(255, 255, 255, 0.1);
  --field-color:  rgba(47, 48, 58, 0.8);
  --thumb-c-color: rgba(33, 150, 243, 0.9);
  /* Голубой #2196f3 (33, 150, 243) 90% */
  --secondary-black-color: #000000;
  --button-bckgr-color: #f5f4fa;
  --social-color: #AFB1B8;
  --no-color:  rgba(0, 0, 0, 0);
  /* 00 - полностью прозрачный */
  --noel-color: rgba(0, 0, 0, 0.1);
  --butn-background: #E5E5E5;
  --timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"), url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, Raleway, sans-serif;
  /*щрифт без насічок*/
  /*letter-spacing: 0.15em;   Унаслідковуване*/
}

.container {
  /*  центрування  */
  /*margin: 0 auto;*/
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* 1170 + 15 + 15 */
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato; /* слой */
  /* background-color: #fffbbb; / завжди використовуватити в роботі з container*/
}

/*  margin: 0 auto;  */
img {
  /*зняти margin в картиках*/
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  /* або пройтись через ліву крайню кнопку в F12 */
  margin: 0;
  /* або пройтись через ліву крайню кнопку в F12 */
  /* class для сброса стиля, например, точек при uL 
  и link для можно так же. M.2,Веб.З: 1.42.20 */
  list-style: none;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* logo */
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
  /*праює тільки зі ссилками*/
}

.logo--black {
  color: var(--secondary-black-color);
}

.logo--white {
  color: var(--primary-white-color);
}

/**** Site-nav  */
.page-header__menu-nv {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  margin-right: 93px;
}

.page-header__site-nav .link,
.page-header__aus-nav .link {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* очистка крайньої геометрії, 3-й варіант*/
.page-header__site-nav .page-header__li-site-nav + .page-header__li-site-nav {
  margin-left: 50px;
}

.page-header__site-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page-header__site-nav .page-header__current {
  display: block;
  /* зняти зазор перед елементом справа (для inline block - не застосовується)*/
  color: var(--accent-color);
  -webkit-transition: color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.page-header__site-nav .link:hover,
.page-header__site-nav .page-header__current:focus {
  color: var(--accent-color);
  text-decoration: none;
  /*праює тільки зі ссилками*/
}

/* контакти:іконки mail-tel */
/* svg */
.page-header__icon-em {
  /* <swg> */
  margin-right: 10px;
  /*width: 16px;
  height: 12px;*/
  fill: var(--primary-text-color);
}

.page-header__em {
  /* <a> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__icon-sf {
  /* <swg> */
  margin-right: 10px;
  /*width: 10px;
  height: 16px;*/
  fill: var(--title-text-color);
  /* перед цим з sprite.svg видалити fill */
}

.page-header__sf {
  /* <a> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__ms {
  /* <li>  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-color: var(--social-grey-color);*/
}

.page-header__ms .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* зняти зазор перед елементом справа (для inline block - не застосовується) */
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__aus-nav {
  /* <ul> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.page-header__aus-nav .page-header__ms + .page-header__ms {
  /* <li>  */
  margin-left: 30px;
}

.page-header__aus-nav .page-header__em:hover .page-header__icon-em,
.page-header__aus-nav .page-header__sf:hover .page-header__icon-sf {
  fill: var(--accent-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.page-header__aus-nav .page-header__em:hover,
.page-header__aus-nav .page-header__em:focus,
.page-header__aus-nav .page-header__sf:hover,
.page-header__aus-nav .page-header__sf:focus {
  color: var(--accent-color);
}

.page-header__li-site-nav {
  position: relative;
}

.page-header__current::after {
  /* клас з   <a class="link current" href="./index.html">Студия</a> */
  content: "";
  position: absolute;
  /* ! на батька задати ссилку  position: relative; +++ -> вище */
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*hero*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  /* height: 600px; центрування  margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  /*від цього елемента унаслідує .hero__title та .button */
  max-width: 1600px;
  height: 600px;
  outline: 1px, solid, blacK;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(33, 38, 48, 0.5)), to(rgba(23, 23, 46, 0.3))), url("../images/main/main-jpeg.jpg");
  background-image: linear-gradient(to right, rgba(33, 38, 48, 0.5), rgba(23, 23, 46, 0.3)), url("../images/main/main-jpeg.jpg");
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
  background-color: var(--secondary-bckgr-color);
  color: var(--primary-white-color);
  /*background-color: #tomato; / завжди використовуватити в роботі з container*/
  /*margin-bottom: 100px; / margin, padding допоміжно використовуватити в роботі */
}

/* button - Системи кнопок M.2,Веб.З: 2.09.40 */
.hero .hero__butn {
  text-decoration: none;
  /*праює тільки зі ссилками*/
}

section {
  color: var(--primary-text-color);
}

/* section advantage */
.advantage {
  padding-top: 94px;
}

.advantage__item::before {
  width: 270px;
  height: 120px;
  margin: 0;
  margin-bottom: 30px;
  /* border-radius: ;
/* box-shadow: ;*/
  display: block;
  content: "";
  /*обовязкова властивысть псевдоелемента, для йоно створення досить залишити пустим*/
  /*  border: 1px solid var(--accent-color); /* рамка */
  /*  outline: 1px solid red;*/
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-bckgr-color);
  border-radius: 4px;
  /* outline: 2px solid teal; /* слой */
}

.advantage__antenna::before {
  background-image: url("../images/main/icon-advntg/antenna.svg");
  /*фонове зображення*/
}

.advantage__clock::before {
  background-image: url("../images/main/icon-advntg/clock.svg");
  /*фонове зображення*/
}

.advantage__diagram::before {
  background-image: url("../images/main/icon-advntg/diagram.svg");
  /*фонове зображення*/
}

.advantage__astronaut::before {
  background-image: url("../images/main/icon-advntg/astronaut.svg");
  /*фонове зображення*/
}

/*.list-item-adv:nth child (4)::before{
  background-image: url("../images/main/icon-advntg/antenna.svg");} /*com* фонове зображення*/
.advantage__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* background-color: tomato; / завжди використовуватити в роботі з container*/
  /*margin-bottom: 100px; / margin, padding допоміжно використовуватити в роботі */
}

p {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*багатострочний flex контейнер для ul*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*перенос li-елементів строки*/
  /* align-items: center; */
  /* justify-content: center;  /створює проблему пустого місця*/
  /* max-lines: ; */
  /* background-color: teal;*/
  padding-top: 0;
}

.advantage__ul .advantage__li {
  /* width: 23.125%;  width: 270px; */
  width: calc((100% - 30px * 3) / 4);
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 30px;
  /* padding-bottom: 94px; */
  /*background-color: lightcoral;*/
}

.advantage__li:nth-child(4n) {
  margin-right: 0px;
  /* зносимо правий margin у 4-го елемента */
}

.advantage__li:nth-last-child(-n + 4) {
  margin-bottom: 0px;
  /* зносимо нижні margin у 4-х останніх елементів */
  padding-bottom: 94;
}

/*.li-advantage:not(nth-last-child(-n + 4)) { margin-bottom: 30px; } / встановлюєм margin всім крім 4-го елемента */
/*.ul-advantage .li-advantage {   margin-right: ;  }  */
/*.ul-advantage .li-advantage:last-child { margin-right: 0px;  } */
/*.ul-advantage .li-advantage:not(:last-child) {margin-right: 40px; } */
.advantage__ul .advantage__li + .advantage__li {
  /*сeлектор сусіда for display: flex | inline-flex*/
  /* color: */
}

.butn {
  display: inline-block;
  /*щоб розвернути в горизонталь і запрацювали  padding горизонталі */
  position: relative;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
  /* border-color робимо прозорим якщо border є  transparent ; opacity: 0.5; */
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.butn:hover,
.butn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-grey-color);
}

/* section work */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*.section-work {
  margin-top: 0;
  margin-bottom: 94;}
/*  background-color: orchid; /* завжди використовуватити в роботі з conteiner*/
/* Заголовки з padding */
/* рамка */
.activity {
  /* outline: 2px solid tomato;  */
  /*border: 1px transparent var(--button-bckgr-color); /* рамка */
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
  /* float: left; */
}

.activity__ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*багатострочний flex контейнер для ul*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*перенос li-елементів строки*/
  /* background-color: yellow; */
}

.activity__ul .activity__li {
  /* width: 370px;*/
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* структурні псевдокласи */
.activity__ul .activity__li:nth-child(3n) {
  margin-right: 0px;
  /* зносимо правий margin у 3-го елемента */
}

.activity__ul .activity__li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
  /* зносимо нижні margin у 3-х останніх елементів */
}

.activity__label {
  position: absolute;
  /* ! на батька задати ссилку  position: relative;*/
  height: 70px;
  width: calc((100% - 30px * 2) / 3);
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  background-color: var(--field-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section staff  */
/* Заголовки + padding */
.staff {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-bckgr-color);
  /* background-color: olive; /* завжди використовуватити в роботі з container*/
}

.staff__border {
  /* рамка */
  /*  outline: 2px solid red;*/
  border: 1px transparent var(--button-bckgr-color);
  padding: 0;
  /*  float: left;*/
}

.staff__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*багатострочний flex контейнер для ul*/
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*перенос li-елементів строки*/
  /* background-color: rgb(99, 132, 194);*/
}

.staff__ul .staff__li {
  width: calc((100% - 30px * 3) / 4);
  /* width: 23.125%; */
  /* width: 270px;*/
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

/* структурні псевдокласи */
.staff__ul .staff__li:nth-child(4n) {
  margin-right: 0px;
  /* зносимо правий margin у 4-го елемента */
}

.staff__ul .staff__li:nth-last-child(-n + 4) {
  margin-bottom: 0px;
  /* зносимо нижні margin у 4-х останніх елементів */
}

.staff__width {
  max-width: 100%;
}

.staff__pr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-title {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.staff-p {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  /*від цього елемента унаслідує  */
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/***  сщціальні  компоненти  ***/
.social {
  /* позиціонуємо елементи <ul>  в ряд, Практ. №8 1.50.59 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 10px;
}

.social__icon {
  /* іконка <svg>*/
  height: 20px;
  width: 20px;
  fill: var(--social-color);
  /* перед цим з sprite.svg видалити fill */
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.social__link {
  /* ссилка <a> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social--link-color {
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.social__link:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  background-color: var(--accent-color);
}

.social__item .social__link:hover .social__icon {
  /* hover на ссилку */
  fill: var(--primary-white-color);
}

/** секція клієнтів */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  /* позиціонуємо елементи <ul>  в ряд */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 30px;
  margin-left: 0;
}

.clients__link {
  /* ссилка <a> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*   width: calc(100% - 30px * 5) / 6; */
  width: 170px;
  height: 90px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--social-color);
  /* рамка */
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), opacity 250ms var(--timing-function);
  /* margin: 0;
  margin-bottom: 30px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center; */
}

/*.clients__item .clients__link */
.clients__icon-o {
  /* іконка <svg> */
  height: 50px;
  width: 45px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  /* background-color: var(--social-color);*/
}

.clients__icon-t {
  /* іконка <svg> */
  height: 52px;
  width: 40px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.clients__icon-th {
  /* іконка <svg> */
  height: 43px;
  width: 41px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.clients__icon-fr {
  /* іконка <svg> */
  height: 43px;
  width: 80px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.clients__icon-fv {
  /* іконка <svg> */
  height: 47px;
  width: 59px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.clients__icon-sx {
  /* display: block; іконка <svg> */
  height: 45px;
  width: 89px;
  fill: var(--social-color);
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.clients__link:hover {
  border: 1px solid var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-o {
  fill: var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-t {
  fill: var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-th {
  fill: var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-fr {
  fill: var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-fv {
  fill: var(--accent-color);
}

.clients__item .clients__link:hover .clients__icon-sx {
  fill: var(--accent-color);
}

.page-footer {
  /*  центрування  */
  /*margin: 0 auto;*/
  /* margin left: auto;
  margin right: auto;*/
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  /*  padding-left: 15px;
  padding-right: 15px; */
  background-color: var(--secondary-bckgr-color);
  color: var(--primary-white-color);
}

.block-adr {
  display: block;
  direction: column;
}

.page-footer__logo {
  margin-right: 93px;
}

/* address */
.block-adr__address {
  width: 231px;
  margin-right: 70px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
}

.block-adr__aus-footer {
  display: block;
  margin-top: 9px;
  color: var(--secondary-grey-color);
  direction: column;
  -webkit-transition: color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.block-adr__aus-footer:hover,
.block-adr__aus-footer:focus {
  /*ефект наведення M.2,Веб.З: 1.47.20 */
  color: var(--accent-color);
}

.soccontact {
  /* padding-top: 75px;
 padding-bottom: 97px; */
  width: 206px;
  margin-top: 15px;
  margin-bottom: 34px;
  margin-right: 93px;
}

.soccontact__title {
  margin-top: 0;
  /*margin-bottom: 20px;*/
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

/***  сщціальні  компоненти  ***/
.socialf {
  /* позиціонуємо елементи <ul>  в ряд, Практ. №8 1.50.59 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
  margin-top: 20px;
}

.socialf__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 10px;
}

.socialf__icon {
  /* іконка <svg>*/
  height: 20px;
  width: 20px;
  fill: var(--button-bckgr-color);
  /* перед цим з sprite.svg видалити fill */
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.socialf__link {
  /* ссилка <a> */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.socialf--link-color {
  background-color: var(--social-grey-color);
  -webkit-transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  /*  background-color: var(--primary-white-color); */
}

.socialf__link:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  background-color: var(--accent-color);
}

.socialf__item .socialf__link:hover .socialf__icon {
  /* hover на ссилку */
  fill: var(--primary-white-color);
}

.telegram-contact {
  /* padding-top: 75px;
 padding-bottom: 97px; */
  width: 570px;
  height: 86px;
  margin-top: 12px;
}

.telegram-title {
  margin-top: 0;
  left: 0;
  /*margin-bottom: 20px;*/
  font-weight: 700;
  font-size: 14px;
  line-height: 1.45;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.body-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 20px;
}

.box-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bckgr-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
}

.font-telegram {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.filter-btn__btn-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*щоб розвернути в горизонталь і запрацювали  padding горизонталі */
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: none;
  /* border-color робимо прозорим якщо border є  transparent ; opacity: 0.5; */
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.icon-send {
  display: inline-block;
  fill: var(--primary-white-color);
  margin-left: 12px;
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.filter-btn__btn-p:hover,
.filter-btn__btn-p:focus {
  background-color: var(--accent-color);
  color: var(--secondary-grey-color);
  fill: var(--secondary-grey-color);
}

.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1024px;
  background-color: var(--noel-color);
  /* overflow: auto; /* скрол */
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  /* opacity: 1;
  /* visibility: visible;*/
}

.backdrop .is-hidden {
  /* "вскрыть" - спеціальні класи */
  opacity: 0;
  /* 1 прозорість 100%; або 0 - 0% */
  /* visibility: hidden; /* блокує елементи під оверлеєм коли вікна backdrop вскрите */
  pointer-events: none;
  /* =вказівника позиція; none означає, що за умови дії класу is-hidden на елемент не діють події*/
}

.backdrop .is-hidden .modal-w {
  -webkit-transform: translate(-50%, 100%) scale(0.1);
          transform: translate(-50%, 100%) scale(0.1);
}

.modal-w {
  position: fixed;
  /* ! рекомендується 1)позиція, 2)геометрія, 3) інше */
  /* left: 529px;
  top: 221px; */
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  /* позиціювання рекомендується саме таке: transform   JS*/
  -webkit-transform: translate(-50%, -50%) scale(1.05);
          transform: translate(-50%, -50%) scale(1.05);
  /* , scale:(1); значення > або < 1 деє ефект прближення чи віддалення вікна*/
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  /*transition: all 250ms;*/
}

.button__modal-close {
  /* close*/
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: calc(30px - 1px);
  border-radius: 50%;
  border: 1px solid var(--title-text-color);
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

/* overflow: auto; /* скрол */
/* visibility: hidden; */
.icon-modal-close {
  /* іконка <svg>*/
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  /* перед цим з sprite.svg видалити fill */
  -webkit-transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.is-hidden {
  top: -100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* scale(0.1); */
.button__modal-close:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  /* fill: var(--accent-color); */
  color: var(--accent-color);
}

.modal-w .button__modal-close:hover .icon-modal-close {
  /* hover на ссилку */
  fill: var(--accent-color);
}

.content-modal {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  height: 100%;
}

.modal-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 0;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--primary-text-color);
}

.flexbox-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-box {
  position: relative;
}

.form-box:not(:last-child) {
  margin-bottom: 10px;
}

.inputs-row {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 37px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.checkbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 37px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 24px;
  text-align: center;
}

/*.person-black,
.phone-black,
.email-black */
.form__field-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 11px;
  left: 12px;
  right: 7px;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  background-color: var(--primary-white-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*.icon-checkbox*/
.checkbox-label {
  padding-left: 27px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-checkbox {
  display: inline-block;
  position: relative;
  margin-left: 13px;
  margin-right: 4px;
  font-size: 92%;
}

.link-contract {
  display: inline-block;
  position: relative;
  text-decoration: underline;
}

.text-checkbox::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid var(--primary-text-color);
  background-color: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), opacity 250ms var(--timing-function);
  top: 0%;
  -webkit-transform: translate(-155%, 0%);
          transform: translate(-155%, 0%);
  fill: var(--primary-text-color);
  background-color: var(--primary-white-color);
  cursor: url(""), pointer;
}

/* https://www.youtube.com/watch?v=E6kLaaQFctU&feature=youtu.be */
.icon-checkbox:checked + .text-checkbox::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-240%, -50%);
          transform: translate(-240%, -50%);
  bottom: 0;
  left: 13px;
  padding-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  background-image: url("../images/icon-check.svg");
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-check::before .bottom-black-shedow {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.butn-shedow {
  -webkit-filter: drop-shadow(0px 4px 4px var(--butn-background));
          filter: drop-shadow(0px 4px 4px var(--butn-background));
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

.color-contract {
  color: var(--accent-color);
}

.color-message {
  color: var(--secondary-bckgr-color);
}

.font-lt {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.font-m {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* use for checkbox */
}

/* коли поле в фокусі , немає placeholder і заповнено поле */
.inputs-row:not(:placeholder-shown),
.inputs-row:focus {
  border-color: var(--accent-color);
  -webkit-filter: none;
          filter: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.inputs-row:not(:placeholder-shown):focus:valid ~ .form__field-icon,
.inputs-row:focus ~ .form__field-icon {
  /* .person-black:hover   але не ховерять, бо елемент не клікають*/
  color: gray;
  fill: var(--accent-color);
  -webkit-filter: none;
          filter: none;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

/*.element class="inputs-row":not :focus:valid{}  */
.inputs-row::-webkit-input-placeholder {
  font-size: 14px;
  /* text-transform: uppercase;*/
  color: var(--title-text-color);
  border-color: var(--accent-color);
}
.inputs-row:-ms-input-placeholder {
  font-size: 14px;
  /* text-transform: uppercase;*/
  color: var(--title-text-color);
  border-color: var(--accent-color);
}
.inputs-row::-ms-input-placeholder {
  font-size: 14px;
  /* text-transform: uppercase;*/
  color: var(--title-text-color);
  border-color: var(--accent-color);
}
.inputs-row::placeholder {
  font-size: 14px;
  /* text-transform: uppercase;*/
  color: var(--title-text-color);
  border-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */