.portfolio-projects, .footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: #2196f3;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--grey {
  background: rgba(255, 255, 255, 0.1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social__icon--white {
  fill: #f5f4fa;
}

.social__link:hover .social__icon--white-hover,
.social__link:focus .social__icon--white-hover {
  fill: #f5f4fa;
}

.site-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: none;
  color: #212121;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  cursor: pointer;
}

@media (min-width: 768px) {
  .site-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__link--accent {
  position: relative;
  color: #2196f3;
}

.site-nav__link--accent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -1px;
  background-color: #2196f3;
  border-radius: 2px;
}

.burger-menu {
  z-index: 2;
}

.burger-menu__container {
  position: absolute;
  display: none;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  padding: 60px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.burger-menu__container.is-open {
  display: block;
}

.burger-menu__list {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
  color: #212121;
}

.burger-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.burger-menu__contacts {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.burger-menu__link:hover, .burger-menu__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.burger-menu__button {
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
}

.burger-menu__icon {
  width: 40px;
  height: 40px;
  fill: #000;
}

.burger-menu__icon:hover {
  fill: #2196f3;
}

@media (min-width: 480px) {
  .burger-menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__item--contacts:not(:last-child) {
  margin-bottom: 12px;
}

.burger-menu__link {
  display: inline-block;
}

.burger-menu__link--accent::after {
  content: "";
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  border-radius: 2px;
}

.burger-menu__icon--phone {
  width: 10px;
  height: 15px;
  margin-right: 5px;
  fill: #757575;
}

.burger-menu__icon--mail {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  fill: #757575;
}

.burger-menu__button.is-open .burger-menu--icon-cross {
  display: none;
}

.burger-menu__button.is-open .burger-menu--icon-menu {
  display: block;
}

.burger-menu__button .burger-menu--icon-cross {
  display: block;
}

.burger-menu__button .burger-menu--icon-menu {
  display: none;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* @include for-size(tablet-only) {
      padding-bottom:14px; 
      background-color: greenyellow;
     } */
}

.portfolio-filter__item {
  padding-bottom: 15px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

@media (min-width: 1200px) {
  .portfolio-filter__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.portfolio-filter__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: #212121;
}

.portfolio-filter__link:hover, .portfolio-filter__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .portfolio-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (max-width: 479px) {
  .portfolio-filter {
    padding-bottom: 40px;
  }
}

@media (min-width: 480px) {
  .portfolio-filter {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .portfolio-filter {
    padding-bottom: 14px;
  }
}

@media (min-width: 1200px) {
  .portfolio-filter {
    padding-bottom: 34px;
  }
}

.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

.site-header__logo {
  margin-right: 276px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .site-header__logo {
    margin-right: 88px;
  }
}

.site-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1199px) {
  .site-header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-header__item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 1199px) {
  .site-header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .site-header__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.site-header__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

@media (max-width: 1199px) {
  .site-header__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .site-header__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

.site-header__icon {
  margin-right: 10px;
  fill: #757575;
}

@media (max-width: 1199px) {
  .site-header__icon {
    margin-right: 8px;
  }
}

.site-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__link:hover, .site-header__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.site-header__link:hover .site-header__icon,
.site-header__link:focus .site-header__icon {
  fill: #2196f3;
}

.site-header__icon--phone {
  width: 10px;
  height: 16px;
}

@media (max-width: 1199px) {
  .site-header__icon--phone {
    width: 10px;
    height: 14px;
  }
}

.site-header__icon--mail {
  width: 16px;
  height: 12px;
}

@media (max-width: 1199px) {
  .site-header__icon--mail {
    width: 14px;
    height: 10px;
  }
}

@media (min-width: 1200px) {
  .portfolio-projects {
    padding-top: 94px;
    padding-bottom: 64px;
  }
}

@media (min-width: 768px) {
  .portfolio-projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-projects__item {
  position: relative;
  max-width: 450px;
  background-color: #ffffff;
}

@media (min-width: 480px) {
  .portfolio-projects__item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media (max-width: 479px) {
  .portfolio-projects__item:nth-child(1n) {
    margin-right: 0px;
  }
  .portfolio-projects__item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .portfolio-projects__item {
    width: calc((100% - 30px * 2) / 2);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .portfolio-projects__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-projects__item {
    width: calc((100% - 30px * 3) / 3);
    margin-bottom: 0px;
  }
  .portfolio-projects__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-projects__item:hover, .portfolio-projects__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__text-content {
  padding: 24px 20px;
  border: 1px solid #f5f4fa;
  border-top: 0;
}

.portfolio-projects__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-projects__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
}

.portfolio-projects__textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 24px 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-projects__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__item:hover .portfolio-projects__text,
.portfolio-projects__item:focus .portfolio-projects__text {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-bottom: 0;
    margin-right: 93px;
    margin-top: 10px;
  }
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
  cursor: pointer;
}

.footer__link--white {
  color: #ffffff;
}

.footer__link:not(:last-child) {
  margin-bottom: 8px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer__input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
}

@media (max-width: 479px) {
  .footer__input {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 10px 29px;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #ffffff;
  cursor: pointer;
}

.footer__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/*# sourceMappingURL=portfolio.css.map */