/**** Site-nav  */
.header {
}
.header__menu-nv {
  position: relative;
  display: flex;
  height: 80px;
  align-items: center;
}
.logo {
  margin-right: 93px;
}
.header__site-nav .link,
.header__aus-nav .link {
  display: block;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* очистка крайньої геометрії, 3-й варіант*/
.header__site-nav .header__li-site-nav + .header__li-site-nav {
  margin-left: 50px;
}

.header__site-nav {
  display: inline-flex;
}
.header__site-nav .header__current {
  display: block; /* зняти зазор перед елементом справа (для inline block - не застосовується)*/
  color: $accent-color;
  transition: color 250ms $timing-function, opacity 250ms $timing-function;
}
.header__site-nav .link:hover,
.header__site-nav .header__current:focus {
  color: $accent-color;
  text-decoration: none; /*праює тільки зі ссилками*/
}

/* контакти:іконки mail-tel */
/* svg */

.header__icon-em {
  /* <swg> */
  margin-right: 10px;
  /*width: 16px;
  height: 12px;*/
  fill: $primary-text-color;
}
.header__em {
  /* <a> */
  display: flex;
  align-items: center;
}

.header__icon-sf {
  /* <swg> */
  margin-right: 10px;
  /*width: 10px;
  height: 16px;*/
  fill: $title-text-color; /* перед цим з sprite.svg видалити fill */
}
.header__sf {
  /* <a> */
  display: flex;
  align-items: center;
}

.header__ms {
  /* <li>  */
  display: flex;
  align-items: center;
  /* background-color: $social-grey-color;*/
}

.header__ms .link {
  display: flex; /* зняти зазор перед елементом справа (для inline block - не застосовується) */
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.header__aus-nav {
  /* <ul> */
  display: flex;
  margin-left: auto;
}
.header__aus-nav .header__ms + .header__ms {
  /* <li>  */
  margin-left: 30px;
}

.header__aus-nav .header__em:hover .header__icon-em,
.header__aus-nav .header__sf:hover .header__icon-sf {
  fill: $accent-color;
  transition: fill 250ms $timing-function, opacity 250ms $timing-function;
}
.header__aus-nav .header__em:hover,
.header__aus-nav .header__em:focus,
.header__aus-nav .header__sf:hover,
.header__aus-nav .header__sf:focus {
  color: $accent-color;
}
.header__li-site-nav {
  position: relative;
}
.header__current::after {
  /* клас з   <a class="link current" href="./index.html">Студия</a> */
  content: "";
  position: absolute; /* ! на батька задати ссилку  position: relative; +++ -> вище */
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: $accent-color;
  border-radius: 2px;
  align-items: center;
}
