/* logo */
.logo {
  display: inline-flex;
  color: $accent-color;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none; /*праює тільки зі ссилками*/
}

.logo--black {
  color: $secondary-black-color;
}

.logo--white {
  color: $primary-white-color;
}
