.dropbox {
  @include transition(opacity);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: getColor("noel-color");
  overflow-y: scroll;
}

.modal {
  @include transition(transform);

  position: absolute;
    width: 450px;
    //height: 609px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: getColor("primary-white-color");
        @include for-size(desktop) {
          width: 528px;
        }

  &__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    cursor: pointer;
    border: 1px solid getColor("social-decor-color");
    background-color: getColor("primary-white-color");
    outline: transparent;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 186px;

    .modal__close-btn:focus &,
    .modal__close-btn:hover & {
      fill: getColor("accent-color");
    }
  }

  @media screen and (max-height: 609px) {
    position: relative;
    top: 15px;
  }

  @media screen and (min-height: 610px) {
    top: 50%;     //top: 38%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.is-hidden .modal {
  transform: translate(-50%, 100%);

  @media screen and (max-height: 609px) {
    transform: translate(0, 100%);
  }
}
