.page-footer {
     /*  центрування  */
    /*margin: 0 auto;*/
 /* margin left: auto;
  margin right: auto;*/
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
/*  padding-left: 15px;
  padding-right: 15px; */
  background-color: var(--secondary-bckgr-color);
  color: var(--primary-white-color);
}
.block-adr{
  display: block;
  direction: column;
}

.page-footer__logo{
  margin-right: 93px;
} 
/* address */
.block-adr__address {
  width: 231px;
  margin-right: 70px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71; /* or 171% */
  letter-spacing: 0.03em;
}
.block-adr__aus-footer {
  display: block;
  margin-top: 9px; 
  color: var(--secondary-grey-color);
  direction: column;
  transition: color 250ms  var(--timing-function),
  opacity 250ms  var(--timing-function);
}
.block-adr__aus-footer:hover,
.block-adr__aus-footer:focus {
  /*ефект наведення M.2,Веб.З: 1.47.20 */
  color: var(--accent-color);
}

.soccontact{
  /* padding-top: 75px;
 padding-bottom: 97px; */
 width: 206px;
 margin-top: 15px;
 margin-bottom: 34px;
 margin-right: 93px;
} 
.soccontact__title {
margin-top: 0;
/*margin-bottom: 20px;*/
font-weight: 700;
font-size: 14px;
line-height: 1.45;
letter-spacing: 0.03em;
 color: var(--primary-white-color);
}
/***  сщціальні  компоненти  ***/

.socialf {
  /* позиціонуємо елементи <ul>  в ряд, Практ. №8 1.50.59 */
  display: flex;
  justify-content: center; 
  padding-bottom: 0; 
  margin-top: 20px;
}
.socialf__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 10px;
}
.socialf__icon {
  /* іконка <svg>*/
  height: 20px;
  width: 20px;
  fill: var(--button-bckgr-color); /* перед цим з sprite.svg видалити fill */
  transition: fill 250ms  var(--timing-function), 
  opacity 250ms var(--timing-function);
}
 .socialf__link{
  /* ссилка <a> */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socialf--link-color{
  background-color: var(--social-grey-color);
  transition: background-color 250ms  var(--timing-function),
  opacity 250ms  var(--timing-function);
  /*  background-color: var(--primary-white-color); */
}
.socialf__link:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  background-color: var(--accent-color);
}
.socialf__item .socialf__link:hover .socialf__icon {
    /* hover на ссилку */
  fill: var(--primary-white-color);
}

.telegram-contact{
  /* padding-top: 75px;
 padding-bottom: 97px; */
 width: 570px;
 height: 86px;
 margin-top: 12px;

} 
.telegram-title {
margin-top: 0;
left: 0;
/*margin-bottom: 20px;*/
font-weight: 700;
font-size: 14px;
line-height: 1.45;
letter-spacing: 0.03em;
 color: var(--primary-white-color);
}
.body-telegram {
    display: flex ;
    position: relative;
    padding-top: 20px;
  }
  
 .box-telegram {
   display: flex ;
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bckgr-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px ;
}
.font-telegram {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }
.filter-btn__btn-p {
  display: flex; /*щоб розвернути в горизонталь і запрацювали  padding горизонталі */
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: 50px;
  border-radius: 4px;
  padding-left: 28px; 
  padding-right: 28px ;
 
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  border-style: none;
  /* border-color робимо прозорим якщо border є  transparent ; opacity: 0.5; */

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), opacity 250ms var(--timing-function);
}
  .icon-send {
   display: inline-block; 
   fill: var(--primary-white-color);
   margin-left: 12px;
   transition: fill 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.filter-btn__btn-p:hover,
.filter-btn__btn-p:focus {
  background-color: var(--accent-color);
  color: var(--secondary-grey-color);
  fill: var(--secondary-grey-color);
}