/***  сщціальні  компоненти  ***/
.social {
  /* позиціонуємо елементи <ul>  в ряд, Практ. №8 1.50.59 */
  display: flex;
  justify-content: center;
}
.social__item:not(:last-child) {
  /* елементи <li> */
  margin-right: 10px;
}
.social__icon {
  /* іконка <svg>*/
  height: 20px;
  width: 20px;
  fill: $social-color; /* перед цим з sprite.svg видалити fill */
  transition: fill 250ms $timing-function, opacity 250ms $timing-function;
}
.social__link {
  /* ссилка <a> */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social--link-color {
  background-color: $primary-white-color;
  transition: background-color 250ms $timing-function,
    opacity 250ms $timing-function;
}
.social__link:hover {
  /* задаємо колір на ссилку при hover, Практ. №8 2.04.20  */
  background-color: $accent-color;
}
.social__item .social__link:hover .social__icon {
  /* hover на ссилку */
  fill: $primary-white-color;
}
