.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
  display: block;
  color: inherit;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accent {
  color: getColor("accent-color");
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile) {
    width: $mobile;
  }
  
  @include for-size(tablet) {
    width: $tablet;
  }
  @include for-size(desktop) {
    width: $desktop;
  }
}

.section-title {
  @include fontParam(28px, 700, 1.18, 0.03em);
  color: getColor("primary-text-color");
  text-align: center;

  @include for-size(desktop) {
    @include fontParam(36px, 700, 1.16, 0.03em);
  }
}

.logo {
  @include fontParam(24px, 700, 1.19, 0.03em);

  @include for-size(desktop) {
    @include fontParam(26px, 700, 1.17, 0.03em);
  }

 color: getColor("primary-text-color");
  font-family: $font-family-2;
  text-decoration: none;
}
