body {
  margin: 0;
  
  background-color: $primary-white-color;
  color: $title-text-color;

  font-family: Roboto, Raleway, sans-serif;
  /*щрифт без насічок*/
  /*letter-spacing: 0.15em;   Унаслідковуване*/
}
body.modal-open {
  overflow: hidden;
}


/* 
 * Базовые стили контейнера и элементов для мобильных устройств 
 * Все блоки идут друг под другом, поэтому нету лишних стилей Flexbox
 */
.container { 
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto; /* margin: 0 auto; */
  margin-right: auto;
  max-width: 1200px; /* 1170 + 15 + 15 */
  min-width: 480px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
  /*outline: 2px solid tomato; /* слой */
  /* background-color: #fffbbb; / завжди використовуватити в роботі з container*/



img {
  /*зняти margin в картиках*/
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.list {
  padding: 0; /* або пройтись через ліву крайню кнопку в F12 */
  margin: 0; /* або пройтись через ліву крайню кнопку в F12 */

  /* class для сброса стиля, например, точек при uL 
  и link для можно так же. M.2,Веб.З: 1.42.20 */
  list-style: none;
}
.flexbox {
  display: flex;
}
