*::selection {
	background: transparent;
}

body {
	@include fontParam();

	  position: relative;
	  font-family: $font-family-1;
	  background-color: getColor("primary-white-color");
	  color: getColor("title-text-color");	
}

img,
picture {
	display: block;
	max-width: 100%;
	height: auto;
}

