%titleMargin {
  margin-top: 0;
  margin-bottom: 50px;
}

%sectionPadding {
  padding-top: 94px;
  padding-bottom: 94px;
}

%centeringBox {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}