
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;


$timing-function:cubic-bezier(0.4, 0, 0.2, 1);

$colors: (
	"primary-white-color": #ffffff,
	"primary-text-color": #212121,
	"title-text-color": #757575,
	"accent-color": #2196f3,

	 "secondary-bckgr-color": #2f303a,
	"secondary-grey-color": rgba(255, 255, 255, 0.6),
	 "social-grey-color":  rgba(255, 255, 255, 0.1),
	 "field-color":  rgba(47, 48, 58, 0.8),
	 "thumb-c-color": rgba(33, 150, 243, 0.9),  
 
	 "secondary-black-color": #000000,
	 "button-bckgr-color": #f5f4fa,
    "social-decor-color": #AFB1B8,
	 "no-color": rgba(0, 0, 0, 0),
	 "noel-color": rgba(0, 0, 0, 0.1),
	 "butn-background": #E5E5E5,  
	 
	 "shadow-color": rgba(0, 0, 0, 0.25),      
); 

@function getColor($key) {
	@return map-get($colors, $key);
}


$font-family-1: "Roboto", sans-serif;
$font-family-2: "Raleway", sans-serif;





$font-normal: 400px;
$font-medium: 500px;
$font-bold: 700px;
$font-ultra-bold: 900px;

$font-size-primary: 14px;
$font-size-links: 16px;
$font-size-title: 36px;


