/* section work */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 0;
  color: $primary-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/*.section-work {
  margin-top: 0;
  margin-bottom: 94;}
/*  background-color: orchid; /* завжди використовуватити в роботі з conteiner*/

/* Заголовки з padding */

/* рамка */
.activity {
  /* outline: 2px solid tomato;  */
  /*border: 1px transparent $button-bckgr-color; /* рамка */
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
  /* float: left; */
}
.activity__ul {
  position: relative;
  display: flex; /*багатострочний flex контейнер для ul*/
  flex-wrap: wrap; /*перенос li-елементів строки*/
  /* background-color: yellow; */
}

.activity__ul .activity__li {
  /* width: 370px;*/
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
/* структурні псевдокласи */
.activity__ul .activity__li:nth-child(3n) {
  margin-right: 0px; /* зносимо правий margin у 3-го елемента */
}
.activity__ul .activity__li:nth-last-child(-n + 3) {
  margin-bottom: 0px; /* зносимо нижні margin у 3-х останніх елементів */
}

.activity__label {
  position: absolute; /* ! на батька задати ссилку  position: relative;*/
  height: 70px;
  width: calc((100% - 30px * 2) / 3);
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;

  background-color: $field-color;
  color: $primary-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
