section {
  color: $primary-text-color;
}

/* section advantage */
.advantage {
  padding-top: 94px;
}

.advantage__item::before {
  width: 270px;
  height: 120px;
  margin: 0;
  margin-bottom: 30px;
  /* border-radius: ;
/* box-shadow: ;*/
  display: block;
  content: ""; /*обовязкова властивысть псевдоелемента, для йоно створення досить залишити пустим*/
  /*  border: 1px solid $accent-color; /* рамка */
  /*  outline: 1px solid red;*/

  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $button-bckgr-color;
  border-radius: 4px;
  /* outline: 2px solid teal; /* слой */
}
.advantage__antenna::before {
  background-image: url("../images/main/icon-advntg/antenna.svg"); /*фонове зображення*/
}
.advantage__clock::before {
  background-image: url("../images/main/icon-advntg/clock.svg"); /*фонове зображення*/
}
.advantage__diagram::before {
  background-image: url("../images/main/icon-advntg/diagram.svg"); /*фонове зображення*/
}
.advantage__astronaut::before {
  background-image: url("../images/main/icon-advntg/astronaut.svg"); /*фонове зображення*/
}
/*.list-item-adv:nth child (4)::before{
  background-image: url("../images/main/icon-advntg/antenna.svg");} /*com* фонове зображення*/

.advantage__title {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  /* background-color: tomato; / завжди використовуватити в роботі з container*/
  /*margin-bottom: 100px; / margin, padding допоміжно використовуватити в роботі */
}

p {
  margin-top: 10px;
  margin-bottom: 0;

  color: $title-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.advantage__ul {
  display: flex; /*багатострочний flex контейнер для ul*/
  flex-wrap: wrap; /*перенос li-елементів строки*/
  /* align-items: center; */
  /* justify-content: center;  /створює проблему пустого місця*/
  /* max-lines: ; */
  /* background-color: teal;*/
  padding-top: 0;
}
.advantage__ul .advantage__li {
  /* width: 23.125%;  width: 270px; */
  width: calc((100% - 30px * 3) / 4);
  vertical-align: top;
  margin-bottom: 30px;
  margin-right: 30px;

  /* padding-bottom: 94px; */
  /*background-color: lightcoral;*/
}
.advantage__li:nth-child(4n) {
  margin-right: 0px; /* зносимо правий margin у 4-го елемента */
}
.advantage__li:nth-last-child(-n + 4) {
  margin-bottom: 0px; /* зносимо нижні margin у 4-х останніх елементів */
  padding-bottom: 94;
}
/*.li-advantage:not(nth-last-child(-n + 4)) { margin-bottom: 30px; } / встановлюєм margin всім крім 4-го елемента */

/*.ul-advantage .li-advantage {   margin-right: ;  }  */
/*.ul-advantage .li-advantage:last-child { margin-right: 0px;  } */
/*.ul-advantage .li-advantage:not(:last-child) {margin-right: 40px; } */
.advantage__ul .advantage__li + .advantage__li {
  /*сeлектор сусіда for display: flex | inline-flex*/
  /* color: */
}
