.footer {
  @extend %sectionPadding;

  color: getColor("secondary-grey-color");
  background-color: getColor("secondary-bckgr-color");

  &__container {
    @include for-size(tablet) {
      @include flexBox(space-around, start);
      flex-wrap: wrap;
    }
  }

  &__contacts {
    @include flexBox(center, stretch);
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 20px;
    color: getColor("primary-white-color");
    text-align: center;

    @include for-size(desktop) {
      text-align: left;
    }
  }

  &__address {
    text-align: center;
    margin-bottom: 60px;

    @include for-size(desktop) {
      margin-right: 70px;
      margin-bottom: 0;
      text-align: left;
      
    }
  }

  &__social {
    @include flexBox(center, center);
    flex-direction: column;
    margin-bottom: 60px;

    @include for-size(desktop) {
      @include flexBox(flex-start, stretch);
      margin-bottom: 0;
      margin-right: 93px;
      margin-top: 10px;
    }
  }

  &__title {
    @include fontParam(14px, 700, 1.14, 0.03em);
    margin-bottom: 20px;
    color: getColor("primary-white-color");
    text-transform: uppercase;
  }

  &__link {
    &:hover,
    &:focus {
      color: getColor("accent-color");
      cursor: pointer;
    }

    &--white {
      color: getColor("primary-white-color");
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__subscribe {
    @include flexBox(center, center);
    flex-direction: column;
    margin-top: 10px;

    @include for-size(desktop) {
      @include flexBox(flex-start, stretch);
    }
  }

  &__form {
    @include flexBox(center, center);
    flex-direction: column;
    width: 100%;

    @include for-size(desktop) {
      @include flexBox(flex-start, stretch);
      flex-direction: row;
    }
  }

  &__field {
    @include flexBox(center, center);
    width: 100%;
  }

  &__input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding: 15px 16px;

    color: inherit;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: getColor("secondary-bckgr-color");

    @include for-size(mobile-only) {
      width: calc(100% - 30px);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    @include for-size(desktop) {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }

  &__btn {
    @include flexBox(center, start);
    @include button(10px 29px, getColor("accent-color"));
    @include fontParam(16px, 700, 1.87, 0.03em);

    color: getColor("primary-white-color");
    cursor: pointer;

    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-left: 10px;

      background-image: url(../images/icon-send.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}



