.site-header {
  @include flexBox(space-between, center);

  border-bottom: 1px solid getColor("butn-background");
  position: relative;

  &__logo {
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
   
    @include for-size(tablet) {
      margin-right: 88px;
    }
  }

  &__contacts {
    @include flexBox(space-between, start);

    @include for-size(tablet-only) {
      flex-direction: column;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }

    @include for-size(tablet-only) {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    @include for-size(desktop) {
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }

  &__link {
    @include fontParam(12px, 500, 1.17, 0.02em);

    @include transition(color);

    padding-top: 32px;
    padding-bottom: 32px;
    color: getColor("title-text-color");

    @include for-size(tablet-only) {
      padding-top: 0;
      padding-bottom: 0;
    }

    @include for-size(desktop) {
      @include fontParam(14px, 500, 1.14, 0.03em);
    }
  }

  &__icon {
    margin-right: 10px;
    fill: getColor("title-text-color");

    @include for-size(tablet-only) {
      margin-right: 8px;
    }
  }
}

.site-header__link {
  @include flexBox(center, center);

  &:hover,
  &:focus {
    color: getColor("accent-color");
    cursor: pointer;
  }

  &:hover .site-header__icon,
  &:focus .site-header__icon {
    fill: getColor("accent-color");
  }
}

.site-header__icon {
  &--phone {
    width: 10px;
    height: 16px;

    @include for-size(tablet-only) {
      width: 10px;
      height: 14px;
    }
  }

  &--mail {
    width: 16px;
    height: 12px;

    @include for-size(tablet-only) {
      width: 14px;
      height: 10px;
    }
  }
}
