/* section staff  */
/* Заголовки + padding */

.staff {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-bckgr-color);

  /* background-color: olive; /* завжди використовуватити в роботі з container*/
}

.staff__border {
  /* рамка */
  /*  outline: 2px solid red;*/
  border: 1px transparent var(--button-bckgr-color);
  padding: 0;

  /*  float: left;*/
}

.staff__ul {
  display: flex; /*багатострочний flex контейнер для ul*/
  flex-wrap: wrap; /*перенос li-елементів строки*/
  /* background-color: rgb(99, 132, 194);*/
}
.staff__ul .staff__li {
  width: calc((100% - 30px * 3) / 4);
  /* width: 23.125%; */
  /* width: 270px;*/
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms var(--timing-function);
}
/* структурні псевдокласи */
.staff__ul .staff__li:nth-child(4n) {
  margin-right: 0px; /* зносимо правий margin у 4-го елемента */
}
.staff__ul .staff__li:nth-last-child(-n + 4) {
  margin-bottom: 0px; /* зносимо нижні margin у 4-х останніх елементів */
}
.staff__width {
  max-width: 100%;
}
.staff__pr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.staff-title {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.staff-p {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center; /*від цього елемента унаслідує  */
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}