
.header {
  position: relative;
  border-bottom: 1px solid black;
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.logo {
  @extend %link;
  
  padding: 10px;
 
  &:hover,
  &:focus {
    opacity: 250ms $timing-function;
  }
}

.icon-cross {
  padding-right: 10px;
  width: 24px;
  height: 16px;
  color: $primary-text-color;
 /* background-image: url("../images/three-bars.svg");*/
  color: black;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.icon-cross-title {
  margin-top: 0;
  margin-bottom: 22px;
}

/*Добавляет примеры*/
.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}


.features-set {
  @extend %list; 

  /*
   * Стили планшета
   */
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: -10px;
  }
}

/*
@media screen and (min-width: 768px) {
  .container-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .features-set {
    flex-basis: calc(100% / 2);
    font-size: 32px;
  }
}  */



.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 24px;

  /*
   * Закрываем стили рамки в промежутке 768-1023
   */
    @media screen and (min-width: 768px) {
    //@media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc((100% - 4 * 5px) / 2);
      margin: 5px;
    }

  /*
   * Стили десктопа
   */
    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 10px) / 3);
      margin: 10px;
    }

   /*
    * Закрываем стили нижнего отступа в промежутке 0-767
    */
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 20px;
      }
    }
}

/*
@media screen and (min-width: 1200px) {
  .features-set {
    flex-basis: calc(100% / 3);
  }
}
/*


/*
 * SASS-цикл для быстрой генерации селекторов с установкой цвета фона элементов
 */
$colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688";

@include colorize($colors, ".features-item");
/*
.features-item:nth-child(1) {
  background-color: #F44336;
}
.features-item:nth-child(2) {
  background-color: #3F51B5;
}
.features-item:nth-child(3) {
  background-color: #4CAF50;
}
.features-item:nth-child(4) {
  background-color: #00BCD4;
}
.features-item:nth-child(5) {
  background-color: #E91E63;
}
.features-item:nth-child(6) {
  background-color: #009688;
}
*/


.reviews {
    /*
     * Прячем секцию reviews в промежутке 0-767
     */
    @media screen and (max-width: 767px) {
      display: none;
    }
}

.reviews-set {
  @extend %list;

  display: flex;
}

.reviews-item {
  text-align: center;
  padding: 40px;
  color: #fff;
  font-size: 48px;
  width: 33.3333%;

  @media screen and (min-width: 1200px) {
    font-size: 64px;
  }
}

/*
 * SASS-цикл для быстрой генерации селекторов с установкой цвета фона элементов
 */
$colors: "#795548", "#607D8B", "#7B1FA2";

@include colorize($colors, ".reviews-item");
/*
.reviews-item:nth-child(1) {
  background-color: #795548;
}
.reviews-item:nth-child(2) {
  background-color: #607D8B;
}
.reviews-item:nth-child(3) {
  background-color: #7B1FA2;
}
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  padding: 50px 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  padding: 20px;
  background-color: #fff;

  @media (min-width: 528px) {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
  }
}

//  menu-button
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}


// menu-container  
.menu-container {
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
 
    &.is-open {
      display: block;
      }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}


.navigation,
.contacts {
  height: 50px;
  width: 140px;
}

.navigation {
  outline: 1px solid teal;
}

.contacts {
  outline: 1px solid orange;
}







// mobile-menu 
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms $timing-function, 
              visibility 250ms $timing-function;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu .content {
  height: 100%;
  background-color: #fff;
  width: 70%;

  transform: translateX(-100%);
 
  transition: transform 250ms $timing-function 250ms;
}

.mobile-menu.is-open .content {
   transform: translateX(0);
}

/*
@media screen and (min-width: 1200px) {
display: flex;

 }

.features-set,
.reviews-set {
  padding: 0;
  margin: 0;
  list-style: none;
}
  @media screen and (min-width: 768px) {
    // Формула расчёта ширины flex-элемента в сетке 
    //  flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);
    flex-basis: calc((100% - 6 * 5) / 3);
    margin-left: 5px;
    margin-right: 5px;
  }
}
*/