

.features-set {
  @extend %list;
  

  /*
   * Стили планшета
   */
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin: 10px;
  }
}





.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 24px;

  /*
   * Закрываем стили рамки в промежутке 768-1023
   */
    @media screen and (min-width: 768px) {
    //@media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc((100% - 4 * 5px) / 2);
      margin: 5px;
    }

  /*
   * Стили десктопа
   */
    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 10px) / 3);
      margin: 10px;
    }

   /*
    * Закрываем стили нижнего отступа в промежутке 0-767
    */
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
         margin-bottom: 20px;
      }
    }
}

/*
@media screen and (min-width: 1200px) {
  .features-set {
    flex-basis: calc(100% / 3);
  }
}
/*


/*
 * SASS-цикл для быстрой генерации селекторов с установкой цвета фона элементов
 */
$colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688";
@include colorize($colors, ".features-item");

/*
.features-item:nth-child(1) {
  background-color: #F44336;
}
.features-item:nth-child(2) {
  background-color: #3F51B5;
}
.features-item:nth-child(3) {
  background-color: #4CAF50;
}
.features-item:nth-child(4) {
  background-color: #00BCD4;
}
.features-item:nth-child(5) {
  background-color: #E91E63;
}
.features-item:nth-child(6) {
  background-color: #009688;
}
*/

/*
@media screen and (min-width: 768px) {
  .container-m {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .features-set {
    flex-basis: calc(100% / 2);
    font-size: 32px;
  }
}  */