
.form-box {
  position: relative;
}
.form-box:not(:last-child) {
  margin-bottom: 10px;
}

.inputs-row {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 37px;
  padding-right: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 4px;
  margin-bottom: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.message-box {
  display: flex;
  position: relative;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.checkbox-row {
  display: flex;
  position: relative;
  padding-left: 37px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 24px;
  text-align: center;
}

/*.person-black,
.phone-black,
.email-black */
.form__field-icon {
  display: flex;
  position: absolute;
  bottom: 11px;
  left: 12px;
  right: 7px;
  width: 18px;
  height: 18px;
  fill: $primary-text-color;
  background-color: $primary-white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*.icon-checkbox*/
.checkbox-label {
  padding-left: 27px;
}
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.text-checkbox {
  display: inline-block;
  position: relative;
  margin-left: 13px;
  margin-right: 4px;
  font-size: 92%;
}
.link-contract {
  display: inline-block;
  position: relative;
  text-decoration: underline;
}
.text-checkbox::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid $primary-text-color;
  background-color: $primary-white-color;
  transition: background-color 250ms $timing-function,
    opacity 250ms $timing-function;
  top: 0%;
  transform: translate(-155%, 0%);
  fill: $primary-text-color;
  background-color: $primary-white-color;
  cursor: url(""), pointer;
}
/* https://www.youtube.com/watch?v=E6kLaaQFctU&feature=youtu.be */
.icon-checkbox:checked + .text-checkbox::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-240%, -50%);
  bottom: 0;
  left: 13px;
  padding-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid $accent-color;
  border-radius: 2px;
  background-image: url("../images/icon-check.svg");
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-check::before .bottom-black-shedow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.butn-shedow {
  filter: drop-shadow(0px 4px 4px $butn-background);
  transform: translate(100%, 0%);
}
.color-contract {
  color: $accent-color;
}

.color-message {
  color: $secondary-bckgr-color;
}

.font-lt {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: $title-text-color;
}
.font-m {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); /* use for checkbox */
}

/* коли поле в фокусі , немає placeholder і заповнено поле */
.inputs-row:not(:placeholder-shown),
.inputs-row:focus {
  border-color: $accent-color;
  filter: none;
  transition: border-color 250ms $timing-function;
}
.inputs-row:not(:placeholder-shown):focus:valid ~ .form__field-icon,
.inputs-row:focus ~ .form__field-icon {
  /* .person-black:hover   але не ховерять, бо елемент не клікають*/
  color: gray;
  fill: $accent-color;
  filter: none;
  transition: fill 250ms $timing-function;
}

/*.element class="inputs-row":not :focus:valid{}  */
.inputs-row::placeholder {
  font-size: 14px;
  /* text-transform: uppercase;*/
  color: $title-text-color;

  border-color: $accent-color;
}
