
.icon-cross {
  padding-right: 21px;
 
  color: $primary-text-color;
 /* background-image: url("../images/three-bars.svg");*/
  color: black;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.icon-cross-title {
  margin-top: 0;
  margin-bottom: 20px;
}